<div class="node-container">
  <span class="label">{{node.label}}:</span>
  <div class="field-container">
    <input *ngIf="!nodeString.values" type="text" [disabled]="nodeString.readonly" [(ngModel)]="nodeString.value">
    <select *ngIf="!!nodeString.values" [(ngModel)]="nodeString.value" [disabled]="nodeString.readonly">
      <option *ngFor="let val of nodeString.values" [value]="val">{{val}}</option>
    </select>
    <div *ngIf="showValidation && !nodeString.isValid()">
      <span *ngIf="showLowerLimitValidation()"
            class="validation-warning">The entry must contain at least {{nodeString.minimalLength}} characters.</span>
      <span *ngIf="showUpperLimitValidation()"
            class="validation-warning">The entry must not contain more than {{nodeString.maximalLength}}
        characters.</span>
    </div>
  </div>
</div>
